.container {
  width: 900px;
  height: 1300px;
  border: 1px solid;
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
}

h2 {
  text-align: left;
  margin-bottom: 5px;
}
.head p {
  margin: 11px;
}

.professional-resume p {
  text-align: justify;
}

.cargo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paragrafo {
  padding-left: 80px;
}

.professional-history {
  text-align: left;
}

.professional-history p {
  padding-left: 80px;
  margin: 0;
}

.professional-history h3 {
  padding-left: 80px;
  margin: 0;
  line-height: 35px;
}

.space-element {
  padding-top: 20px;
}

.divider {
  border-bottom: groove;
}

.skills ol {
  text-align: justify;
}

.skills ol li {
  font-weight: bold;
}

.topics li {
  list-style: circle;
}
